body {
  background-color: black;
  color: #efefef;
  display: grid;
  grid-template-rows: 95% 5%;
  grid-template-columns: [first] 1fr repeat(2, 20px) 1fr [last];
  height: 100vh;
  margin: 0; }

.center-on-both-axes, .slide-0, .slide-1, .bottom-menu {
  display: grid;
  justify-items: center;
  align-items: center; }

.slide-0 {
  grid-column: first / last;
  grid-row: 1 / 2;
  display: none;
  height: 100%; }

input[type='radio'][name='slide-index'][value='0'] {
  grid-row: 2 / 3;
  grid-column: 2 / 3; }

input[type='radio'][name='slide-index'][value='0']:checked ~ .slide-0 {
  display: grid; }

.slide-1 {
  grid-column: first / last;
  grid-row: 1 / 2;
  display: none;
  height: 100%; }

input[type='radio'][name='slide-index'][value='1'] {
  grid-row: 2 / 3;
  grid-column: 3 / 4; }

input[type='radio'][name='slide-index'][value='1']:checked ~ .slide-1 {
  display: grid; }

.bottom-menu {
  background-color: #1a1a1a;
  height: 100%;
  grid-row: 2 / 3;
  grid-column: first / last; }
