body {
  background-color: black;
  color: #efefef;
  display: grid;
  grid-template-rows: 90% 10%;
  height: 100vh;
  margin: 0; }

.slide-plane {
  grid-row: 1 / 2; }

.bottom-menu {
  background-color: #333333;
  height: 100%;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .bottom-menu .bottom-menu-left-button {
    grid-column: 1 / 2; }
  .bottom-menu .bottom-menu-right-button {
    grid-column: 3 / 4; }
