doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title CSS: Au Naturel
    style
      include ../dist/style.css
    

  body
    div(class="bottom-menu")
    input(type="radio", name="slide-index", value="0")
    div(class="slide slide-0") First slide
    input(type="radio", name="slide-index" value="1")
    div(class="slide slide-1") Second slide
