doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title CSS: Au Naturel
    link(href="./style.sass", rel="stylesheet")
  body
    div(class="bottom-menu")
    input(type="radio", name="slide-index", value=0 checked)
    div(class="slide-0") Slide 1
    input(type="radio", name="slide-index", value=1)
    div(class="slide-1") Slide 2
