doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title CSS: Au Naturel
    link(rel="stylesheet", href="./style.sass")

  body
    div(class="slide-plane") Kitty
    div(class="bottom-menu")
      div(class="bottom-menu-left-button") Left
      div(class="bottom-menu-right-button") Right
